<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SMSeducation</title>
    <!-- ------------ bootstrap --css link------------------------- -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- ----------------fontasome cdn-------------------------- -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- ---------------css- file-------------------- -->
    <link rel="stylesheet" href="../static/css/style.css" />

    <!-- ------------java---script-----file----------------------- -->
    <link rel="stylesheet" href="script.js" />
    <!-- ----------------aos--link---------------- -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <!-- Owl Carousel CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
    />
    <!-- Boxicons CDN Link -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <!-- NAVBAR-------------------------- -->
    <section>
      <div class="container-fluid nav">
        <div class="connect">
          <a href="" style="text-decoration: none">
            <p>
              <i class="fa-solid fa-envelope"></i> smsvaranasionlinegmail.com
            </p> </a
          ><span>
            <p>/</p>
          </span>
          <a href="" style="text-decoration: none">
            <p><i class="fa-solid fa-phone"></i> +1 0000000000</p>
          </a>
        </div>

        <div class="log-button">
          <a href="../templates/login.html" style="text-decoration: none"
            ><i class="fa-solid fa-right-to-bracket"></i
          ></a>
          <a href="#" style="text-decoration: none">
            <p>LOGIN</p>
          </a>
          <span>
            <p>/</p>
          </span>
          <a href="#" style="text-decoration: none">
            <p>REGISTER</p>
          </a>
        </div>
      </div>
    </section>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navi">
      <div class="container-fluid">
        <div class="logo">
          <h1 style="color: rgb(27, 29, 86)">
            <span style="color: rgb(239, 125, 1)">SMS</span> Education
          </h1>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active tab" aria-current="page" href="#home"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active tab" aria-current="page" href="#about"
                >About_us</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active tab" aria-current="page" href="#course"
                >Course</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link active tab" aria-current="page" href="#blog"
                >Blog</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link active tab" aria-current="page" href="#contact"
                >Contact-us</a
              >
            </li>
          </ul>
          <form class="d-flex">
            <div class="apply-button">
              <button>
                <a href="#" style="text-decoration: none">APPLY NOW</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <!-- =====================end==================navbar=================== -->

    <!-- -----------------slider----------------------------- -->
    <div id="home">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel1">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="heading"
                      data-aos="fade-right"
                      data-aos-duration="8000"
                    >
                      <h1>
                        WELCOME TO <br />
                        <span style="color: rgb(239, 125, 1)"> </span>SMS
                        EDUCATION
                      </h1>
                    </div>
                  </div>
                  <div class="col-md-6 text-center shadow-lg">
                    <div class="forms">
                      <form
                        action=""
                        style="
                          background-color: rgba(20, 20, 20, 0.65);
                          padding: 30px 0px;
                          border: 2px solid rgb(239, 125, 1);
                        "
                      >
                        <h3 style="color: white">
                          ADMISSIONS
                          <span style="color: rgb(239, 125, 1)">2024-25</span>
                        </h3>
                        <p style="color: white">
                          Admissions are open for this year's session. <br />
                          Please fill in your details below.
                        </p>
                        <div class="row text-center">
                          <div class="col-12 p-1">
                            <input type="text" placeholder="Full Name" />
                          </div>
                          <div class="col-12 p-1">
                            <input type="email" placeholder="Enter email" />
                          </div>
                          <div class="col-12 p-1">
                            <input
                              type="number"
                              placeholder="Enter the Number"
                            />
                          </div>
                          <div class="col-12 p-1">
                            <input type="text" placeholder="Select-course" />
                          </div>
                          <div class="col-12 p-1">
                            <div class="but">
                              <input
                                type="submit"
                                style="
                                  width: auto;
                                  min-width: 30%;
                                  background-color: rgb(239, 125, 1);
                                  color: white;
                                  border: none;
                                "
                              />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel2">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div class="forms text-center">
                      <form
                        action=""
                        style="
                          background-color: rgba(20, 20, 20, 0.65);
                          padding: 30px 0px;
                          border: 2px solid rgb(239, 125, 1);
                        "
                      >
                        <h3 style="color: white">
                          ADMISSIONS
                          <span style="color: rgb(239, 125, 1)">2024-25</span>
                        </h3>
                        <p style="color: white">
                          Admissions are open for this year's session. <br />
                          Please fill in your details below.
                        </p>
                        <div class="row text-center">
                          <div class="col-12 p-1">
                            <input type="text" placeholder="Full Name" />
                          </div>
                          <div class="col-12 p-1">
                            <input type="email" placeholder="Enter email" />
                          </div>
                          <div class="col-12 p-1">
                            <input
                              type="number"
                              placeholder="Enter the Number"
                            />
                          </div>
                          <div class="col-12 p-1">
                            <input type="text" placeholder="Select-course" />
                          </div>
                          <div class="col-12 p-1">
                            <div class="but">
                              <input
                                type="submit"
                                style="
                                  width: auto;
                                  min-width: 30%;
                                  background-color: rgb(239, 125, 1);
                                  color: white;
                                  border: none;
                                "
                              />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-md-6 text-center">
                    <div
                      class="heading"
                      data-aos="fade-right"
                      data-aos-duration="8000"
                    >
                      <h1>
                        BEST
                        <span style="color: rgb(239, 125, 1)">EDUCATION</span>
                        <br />
                        PLATFROM
                      </h1>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="carousel3">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <div
                      class="heading"
                      data-aos="fade-right"
                      data-aos-duration="8000"
                    >
                      <h1>
                        BEST
                        <span style="color: rgb(239, 125, 1)">EDUCATION</span>
                        <br />
                        PLATFROM
                      </h1>
                    </div>
                  </div>
                  <div class="col-md-6 text-center shadow-lg">
                    <div class="forms">
                      <form
                        action=""
                        style="
                          background-color: rgba(20, 20, 20, 0.65);
                          padding: 30px 0px;
                          border: 2px solid rgb(239, 125, 1);
                        "
                      >
                        <h3 style="color: white">
                          ADMISSIONS
                          <span style="color: rgb(239, 125, 1)">2024-25</span>
                        </h3>
                        <p style="color: white">
                          Admissions are open for this year's session. <br />
                          Please fill in your details below.
                        </p>
                        <div class="row text-center">
                          <div class="col-12 p-1">
                            <input type="text" placeholder="Full Name" />
                          </div>
                          <div class="col-12 p-1">
                            <input type="email" placeholder="Enter email" />
                          </div>
                          <div class="col-12 p-1">
                            <input
                              type="number"
                              placeholder="Enter the Number"
                            />
                          </div>
                          <div class="col-12 p-1">
                            <input type="text" placeholder="Select-course" />
                          </div>
                          <div class="col-12 p-1">
                            <div class="but">
                              <input
                                type="submit"
                                style="
                                  width: auto;
                                  min-width: 30%;
                                  background-color: rgb(239, 125, 1);
                                  color: white;
                                  border: none;
                                "
                              />
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleControls"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- --------------end--------slider----------------------->

    <div id="about">
      <div class="container-fluid education">
        <div class="row">
          <div class="col-md-3 col-sm-6 bg">
            <div class="icons">
              <img src="images/icon4.png" alt="" />
              <h4>Graduation</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 gb">
            <div class="icons">
              <img src="images/icon2.png" alt="" />
              <h4>University Life</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 bg">
            <div class="icons">
              <img src="images/icon3.png" alt="" />

              <h4>Athletics</h4>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 gb">
            <div class="icons">
              <img src="images/icon1.png" alt="" />
              <h4>Social</h4>
            </div>
          </div>
        </div>
      </div>

      <section>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="heading1">
                <h3>
                  WELCOME TO <br />
                  <span style="color: rgb(239, 125, 1)">SMS EDUCATION</span>
                </h3>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. At,
                  commodi magnam repellat aliquam inventore nisi amet pariatur
                  fugit? Ipsa similique assumenda sunt at autem repellendus
                  minus. Maxime ratione iure ea ipsa, provident eos, nam soluta
                  ad eveniet nesciunt dicta, perspiciatis recusandae ut! Vitae
                  officia inventore accusantium eveniet voluptatibus modi harum!
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste
                  quaerat dignissimos, animi minus dicta odio hic culpa
                  aspernatur molestiae doloribus!
                </p>
                <button
                  style="
                    background-color: rgb(239, 125, 1);
                    border: none;
                    padding: 5px 5px;
                  "
                >
                  <a href="#" style="text-decoration: none; color: white">
                    Read More <i class="fa-solid fa-arrow-right"></i
                  ></a>
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-4 p-3 shadow-lg">
                  <div class="item text-center">
                    <h1 class="count" data-number="50"></h1>
                    <h5 class="text">Students</h5>
                  </div>
                </div>
                <div class="col-md-4 p-3 shadow-lg">
                  <div class="item text-center">
                    <h1 class="count" data-number="4000"></h1>
                    <h5 class="text">CGPA</h5>
                  </div>
                </div>
                <div class="col-md-4 p-3 shadow-lg">
                  <div class="item text-center">
                    <h1 class="count" data-number="2000"></h1>
                    <h5 class="text">Graduates</h5>
                  </div>
                </div>
              </div>
              <br />
              <div class="row g-4">
                <div class="col-md-6">
                  <img
                    src="../static/images/333.png"
                    style="width: 100%; height: 30vh"
                    alt=""
                  />
                </div>
                <div class="col-md-6">
                  <img
                    src="../static/images/444.jpg"
                    style="width: 100%; height: 30vh"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <br />

    <br />
    <br />

    <!------------------ Hover Effect  card --------------->

    <br />
    <div id="course">
      <div class="container mt-40">
        <h3 class="text-center" style="color: rgb(239, 125, 1)">
          DEGREE CATEGORIS
        </h3>
        <h4 class="text-center">
          Successfully Complete A Degree at SMS EDUCATION
        </h4>
        <div class="row mt-30">
          <div class="col-md-4 col-sm-6">
            <div class="box13">
              <img class="pic-1" src="../static/images/11.jpg" />
              <div class="box-content text-center">
                <h3 class="title">UNDERGRADUATE</h3>

                <button
                  style="background-color: rgb(239, 125, 1); border: none"
                >
                  <a href="#" style="text-decoration: none; color: white">
                    Read More
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="box13">
              <img class="pic-1" src="../static/images/22.jpg" />
              <div class="box-content text-center">
                <h3 class="title">POSTGRADUATE</h3>
                <button
                  style="background-color: rgb(239, 125, 1); border: none"
                >
                  <a href="#" style="text-decoration: none; color: white">
                    Read More
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="box13">
              <img class="pic-1" src="../static/images/33.jpg" />
              <div class="box-content text-center">
                <h3 class="title">PHD</h3>

                <button
                  style="background-color: rgb(239, 125, 1); border: none"
                >
                  <a href="#" style="text-decoration: none; color: white">
                    Read More
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <br />
      <div class="container mt-40">
        <div class="row mt-30">
          <div class="col-md-4 col-sm-6">
            <div class="box13">
              <img class="pic-1" src="../static/images/44.png" />
              <div class="box-content text-center">
                <h3 class="title">ASSOCIATE DEGREE</h3>

                <button
                  style="background-color: rgb(239, 125, 1); border: none"
                >
                  <a href="#" style="text-decoration: none; color: white">
                    Read More
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="box13">
              <img class="pic-1" src="../static/images/55.jpg" />
              <div class="box-content text-center">
                <h3 class="title">BACHELOR DEGREE</h3>

                <button
                  style="background-color: rgb(239, 125, 1); border: none"
                >
                  <a href="#" style="text-decoration: none; color: white">
                    Read More
                  </a>
                </button>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="box13">
              <img class="pic-1" src="../static/images/66.jpg" />
              <div class="box-content text-center">
                <h3 class="title">MASTERS DEGREE</h3>

                <button
                  style="background-color: rgb(239, 125, 1); border: none"
                >
                  <a href="#" style="text-decoration: none; color: white">
                    Read More
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <br /><br />

    <div id="blog">
      <section>
        <div class="container">
          <h4 style="color: rgb(239, 125, 1); text-align: center">
            NEWS UPDATE
          </h4>
          <h3 style="text-align: center">Latest News & Events</h3>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card" data-aos="zoom-in">
                <img
                  src="../static/images/77.jpg"
                  class="card-img-top"
                  style="width: 100%; height: 30vh"
                  alt="..."
                />
                <div class="card-body">
                  <div class="title">
                    <p><i class="fa-solid fa-lock"></i> ADMIN</p>
                    <p>
                      <i class="fa-solid fa-calendar-days"></i> June 15 2023
                    </p>
                  </div>
                  <h4 style="color: rgb(27, 29, 86)">Lorem ipsum dolor sit.</h4>

                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                  <hr />
                  <div class="title">
                    <p>(12)Commnet</p>
                    <p>
                      <a
                        href=""
                        style="text-decoration: none; color: rgb(27, 29, 86)"
                        >Read More</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" data-aos="zoom-in">
                <img
                  src="../static/images/88.jpg"
                  class="card-img-top"
                  style="width: 100%; height: 30vh"
                  alt="..."
                />
                <div class="card-body">
                  <div class="title">
                    <p><i class="fa-solid fa-lock"></i> ADMIN</p>
                    <p>
                      <i class="fa-solid fa-calendar-days"></i> June 15 2023
                    </p>
                  </div>
                  <h4 style="color: rgb(27, 29, 86)">Lorem ipsum dolor sit.</h4>

                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                  <hr />
                  <div class="title">
                    <p>(12)Commnet</p>
                    <p>
                      <a
                        href=""
                        style="text-decoration: none; color: rgb(27, 29, 86)"
                        >Read More</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card" data-aos="zoom-in">
                <img
                  src="../static/images/99.png"
                  class="card-img-top"
                  style="width: 100%; height: 30vh"
                  alt="..."
                />
                <div class="card-body">
                  <div class="title">
                    <p><i class="fa-solid fa-lock"></i> ADMIN</p>
                    <p>
                      <i class="fa-solid fa-calendar-days"></i> June 15 2023
                    </p>
                  </div>
                  <h4 style="color: rgb(27, 29, 86)">Lorem ipsum dolor sit.</h4>

                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This content is a
                    little bit longer.
                  </p>
                  <hr />
                  <div class="title">
                    <p>(12)Commnet</p>
                    <p>
                      <a
                        href=""
                        style="text-decoration: none; color: rgb(27, 29, 86)"
                        >Read More</a
                      >
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <br />

      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card" data-aos="zoom-in">
              <img
                src="../static/images/10.avif"
                class="card-img-top"
                style="width: 100%; height: 30vh"
                alt="..."
              />
              <div class="card-body">
                <div class="title">
                  <p><i class="fa-solid fa-lock"></i> ADMIN</p>
                  <p><i class="fa-solid fa-calendar-days"></i> June 15 2023</p>
                </div>
                <h4 style="color: rgb(27, 29, 86)">Lorem ipsum dolor sit.</h4>

                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <hr />
                <div class="title">
                  <p>(12)Commnet</p>
                  <p>
                    <a
                      href=""
                      style="text-decoration: none; color: rgb(27, 29, 86)"
                      >Read More</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" data-aos="zoom-in">
              <img
                src="../static/images/111.avif"
                class="card-img-top"
                style="width: 100%; height: 30vh"
                alt="..."
              />
              <div class="card-body">
                <div class="title">
                  <p><i class="fa-solid fa-lock"></i> ADMIN</p>
                  <p><i class="fa-solid fa-calendar-days"></i> June 15 2023</p>
                </div>
                <h4 style="color: rgb(27, 29, 86)">Lorem ipsum dolor sit.</h4>

                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <hr />
                <div class="title">
                  <p>(12)Commnet</p>
                  <p>
                    <a
                      href=""
                      style="text-decoration: none; color: rgb(27, 29, 86)"
                      >Read More</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" data-aos="zoom-in">
              <img
                src="../static/images/222.jpg"
                class="card-img-top"
                style="width: 100%; height: 30vh"
                alt="..."
              />
              <div class="card-body">
                <div class="title">
                  <p><i class="fa-solid fa-lock"></i> ADMIN</p>
                  <p><i class="fa-solid fa-calendar-days"></i> June 15 2023</p>
                </div>
                <h4 style="color: rgb(27, 29, 86)">Lorem ipsum dolor sit.</h4>

                <p class="card-text">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <hr />
                <div class="title">
                  <p>(12)Commnet</p>
                  <p>
                    <a
                      href=""
                      style="text-decoration: none; color: rgb(27, 29, 86)"
                      >Read More</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br />
    <!-- --------------------end-------------hover=================Effect-------------- -->

    <div class="container-fluid last-section">
      <div class="row">
        <div class="last-sections">
          <h1>
            ADMISSION OPEN
            <span style="color: rgb(239, 125, 1)">2024-2025</span>
          </h1>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad illo
          accusantium voluptatem tenetur <br />
          voluptate itaque architecto suscipit, corrupti magnam! Corrupti?
        </div>
      </div>
    </div>
    <br />

    <form action="{% url 'contactform' %}" method="POST">
      {% csrf_token %}
      <div id="contact">
        <div class="container">
          <div class="row">
            <div class="contacts">
              <div class="contact-info">
                <h3>GET IN TOUCH</h3>
                <p>
                  Have some suggestions or just want to say hi? Our support team
                  are ready to help you 24/7.
                </p>
              </div>
              <div class="row g-4">
                <div class="col-md-6">
                  <div class="div shadow-lg">
                    <input type="text" placeholder="First-Name" name="fname" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="div shadow-lg">
                    <input type="text" placeholder="Last Name" name="lname" />
                  </div>
                </div>
              </div>
              <br />
              <div class="row g-4">
                <div class="col-md-6">
                  <div class="div shadow-lg">
                    <input type="email" placeholder="Email" name="email" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="div shadow-lg">
                    <input type="number" placeholder="Number" name="phone" />
                  </div>
                </div>
              </div>
              <br />
              <div class="div shadow-lg">
                <textarea
                  name="Message"
                  id=""
                  cols="100"
                  rows="8"
                  style="border: none"
                ></textarea>
              </div>
              <br />
              <div class="row submit">
                <input
                  type="submit"
                  name="Message"
                  id=""
                  style="background-color: rgb(239, 125, 0); color: white"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Slider -->
    <div class="container-fluid p-5">
      <div class="owl-carousel">
        <div class="item2">
          <img
            src="../static/images/1.png"
            alt="Image 1"
            style="width: 200px"
          />
        </div>
        <div class="item2">
          <img
            src="../static/images/2.png"
            alt="Image 1"
            style="width: 200px"
          />
        </div>
        <div class="item2">
          <img
            src="../static/images/3.png"
            alt="Image 1"
            style="width: 200px"
          />
        </div>
        <div class="item2">
          <img
            src="../static/images/4.png"
            alt="Image 1"
            style="width: 200px"
          />
        </div>
        <div class="item2">
          <img
            src="../static/images/5.png"
            alt="Image 1"
            style="width: 200px"
          />
        </div>
        <div class="item2">
          <img
            src="../static/images/6.png"
            alt="Image 1"
            style="width: 200px"
          />
        </div>
        <div class="item2">
          <img
            src="../static/images/7.png"
            alt="Image 1"
            style="width: 200px"
          />
        </div>
      </div>
    </div>

    <!-- -------------------start------------footer-------------------------- -->

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="widget1">
              <div class="logos">
                <img
                  src="../statics/images/logo2.png"
                  style="width: 100%"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <p>
                In eu libero ligula. Fusce eget metus lorem, ac viverra leo.
                Nullam convallis, arcu vel pellentesque sodales, nisi est varius
                diam, ac ultrices sem ante quis sem. Proin ultricies volutpat
                sapien.
              </p>
              <div class="socialLinks">
                <ul>
                  <li>
                    <a href="#">
                      <i class="fab fa-facebook-f"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-twitter"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-linkedin-in"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fab fa-google-plus-g"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="widget2">
              <h5>Latest News</h5>
              <div class="media">
                <img
                  class="img-fluid"
                  src="https://i.ibb.co/CKNmhMX/blog1.jpg"
                  alt=""
                />
                <div class="media-body d-flex align-self-center">
                  <div class="content">
                    <a href="#">
                      <p>Did son unreserved themselves indulgence its</p>
                    </a>
                    <span> Aug 17, 2024 </span>
                  </div>
                </div>
              </div>
              <div class="media">
                <img
                  class="img-fluid"
                  src="https://i.ibb.co/m5yGbdR/blog2.jpg"
                  alt=""
                />
                <div class="media-body d-flex align-self-center">
                  <div class="content">
                    <a href="#">
                      <p>Rapturous am eagerness it as resolving household</p>
                    </a>
                    <span> Aug 17, 2024 </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="widget3">
              <h5>Quick Links</h5>
              <ul>
                <li>
                  <a href="#home"> Home </a>
                </li>
                <li>
                  <a href="#about"> about-us </a>
                </li>
                <li>
                  <a href="#course"> Courses </a>
                </li>
                <li>
                  <a href="#blog"> Event </a>
                </li>
                <li>
                  <a href="#blog"> Blog </a>
                </li>
                <li>
                  <a href="#contact"> Contact-us </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6 col-lg-2">
            <div class="widget4">
              <h5>Other Links</h5>
              <ul>
                <li>
                  <a href="#"> Apply Now </a>
                </li>
                <li>
                  <a href="#"> Login </a>
                </li>
                <li>
                  <a href="#"> Our Team </a>
                </li>
                <li>
                  <a href="#"> Terms and Condition </a>
                </li>
                <li>
                  <a href="#">
                    Refunds and <br />
                    Policy
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="copyRightArea">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <p>
                &copy; Copyright ©2020 SMSDUCATION By ....... All Rights are
                Reserved
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- --end----------------footer--------------------- -->
  </body>

  <!-- Owl Carousel JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

  <script>
    $(document).ready(function () {
      var owl = $('.owl-carousel');
      owl.owlCarousel({
        loop: true,
        margin: 10,
        nav: false,
        autoplay: true,
        autoplayTimeout: 2000, // Autoplay interval in milliseconds (3 seconds)
        autoplayHoverPause: true, // Pause autoplay on mouse hover
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 3,
          },
          1000: {
            items: 5,
          },
        },
      });
    });
  </script>
  <!-- ------------------aos----- link ------------------- -->
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

  <!-- counter--------------------------------- -->
  <script>
    let count = document.querySelectorAll('.count');
    let arr = Array.from(count);

    arr.map(function (item) {
      let startnumber = 0;

      function counterup() {
        startnumber++;
        item.innerHTML = startnumber;

        if (startnumber == item.dataset.number) {
          clearInterval(stop);
        }
      }

      let stop = setInterval(function () {
        counterup();
      }, 2);
    });
  </script>
  <!-- end-----------counter-------------------- -->

  <!-- ------------scroler----------------- -->
  <script>
    var btn = $('#button');

    $(window).scroll(function () {
      if ($(window).scrollTop() > 300) {
        btn.addClass('show');
      } else {
        btn.removeClass('show');
      }
    });

    btn.on('click', function (e) {
      e.preventDefault();
      $('html, body').animate({ scrollTop: 0 }, '300');
    });
  </script>

  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>
